PORT = 9000
# DATABASE_URL=mongodb://localhost:27017/fashionStoreDB
# DATABASE_URL=mongodb://mongo:27017/fashionStoreDB
DATABASE_URL = 
CLOUD_NAME =
API_KEY = 
API_SECRET=
JWT_SECRET=
SESSION_SECRET=
REFRESH_TOKEN_SECRET=
vnp_TmnCode= 
vnp_HashSecret = 
vnp_Url=
vnp_ReturnUrl =
OPENAI_API_KEY=

EMAIL_USER=
EMAIL_PASS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLBACK_URL=

RESEND_API_KEY=